<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${self.title()}</title>
    <link href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/dashboard/css/base.css" rel="stylesheet" />
    ${self.css()}
</head>
<body>
    <%! from django.shortcuts import reverse %>  <!— 导入django中的reverse方法 -->
    <%include file="nav.html" /> <!— 将nav.html模板嵌入base.html -->
    <div id="base-area">
         <ul class="side-menu">
             <!— 在mako模板中直接使用路径名称的语法与django中有所区别 -->
             <li><a href="${reverse('admin_manager')}">管理员</a></li>
             <li>用户</li>
             <li><a href="${reverse('video_externa')}">外链视频</a></li>
             <li><a href="">自制视频</a></li>
         </ul>
         <div class="base-content">
             ${self.content()}
         </div>
    </div>

</body>
    <script src="/static/dashboard/js/jquery-1.12.4.min.js"></script>
    <script src="/static/dashboard/js/bootstrap.min.js"></script>
    ${self.js()}
</html>

<!--定义函数-->
<%def name="title()"></%def>
<%def name="js()"></%def>
<%def name="css()"></%def>
<%def name="content()"></%def>